<ul id="main-menu" class="main-menu">
    <li><a data-scroll-nav="0" href="#header">@home@</a></li>
    <li><a data-scroll-nav="1" href="#weaim">@weaim@</a></li>
    <li><a data-scroll-nav="2" href="#this">@this@</a></li>
    <li><a data-scroll-nav="3" href="#register-now">@register@</a></li>
    <li><a data-scroll-nav="4" href="#contactus">@contactus@</a></li>
    <li><a data-scroll-nav="5" href="#login">@login@</a></li>
</ul>
<a class="header-btn scroll-to btn small colorful hover-dark" href="#register-now">@nowstart@</a>