<div class="flat-section portfolio-single" xmlns="http://www.w3.org/1999/html">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title">
                        <h2>@team@ : {{CODE}}</h2>
                        <span class="separator-dots"><span class="separator-dots-inner"></span></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn colorful">
                        <p>@aspagetit@</p>
                    </div>
                    <br/><br/><br/>
                </div>

                <form id="answer-form">
                    <div class="form-group">
                        <textarea name="answero" id="answero" class="form-control" placeholder="@ano@">{{ANSON}}</textarea>
                        <input type="file" name="answer_1_1"/>
                        <input type="file" name="answer_1_2"/>
                        <input type="file" name="answer_1_3"/>
                    </div>
                    <div class="form-group">
                        <textarea name="answertw" id="answertw" class="form-control" placeholder="@antw@">{{ANSTW}}</textarea>
                        <input type="file" name="answer_2_1"/>
                    </div>
                    <div class="form-group">
                        <textarea name="answertr" id="answertr" class="form-control" placeholder="@antr@">{{ANSTR}}</textarea>
                        <input type="file" name="answer_3_1"/>
                        <input type="file" name="answer_3_2"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" value="@login@">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" value="Fake submit!" onclick="answer_uploadFileInputs(event)">
                    </div>
                    <div class="rf-notifications">
                        <div class="rf-notifications-cont"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
    Sorry because of making your code dirty!
-->
<script src="js/base/jquery-2.2.0.min.js"></script>
<script>
        // answer prefix is for preventing conflict
        function answer_addNewFile(event, button) {
            event.preventDefault();
            // first the count of file inputs!
            currCount = button.parent().attr("data-curr-count");

            button
                .parent()
                .append($("<input type=\"file\" name=\"" + ++currCount + "\" />"));

            button.parent().attr("data-curr-count", currCount);
        }

        function answer_uploadFileInputs(event) {
            event.preventDefault();
            var formData = utils_traceForm($("#answer-form"));
            // Why not to follow REST?????????????????
            formData.append("req", "answer");
            var ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    if (ajax.status == 200) {
                        // upload completed
                    } else {
                        // an error occurred
                    }
                    // Hopefully upload finished :)
                }
            };
            ajax.upload.addEventListener('progress', function (e) {
                // What about showing a progress bar ?!
                var precent = Math.ceil(e.loaded / e.total * 100);
                // Do whatever you want with this unused variable :-(
            });
            var url = "req.php";
            ajax.open('POST', url, true);
            ajax.send(formData);
        }


        function utils_traceForm(form) {
            // first trace the textareas
            var formData = new FormData();
            form.find("textarea").each(function () {
                formData.append($(this).attr("name"), $(this).val());
            });

            // and trace files
            form.find("input[type=\"file\"]").each(function () {
                formData.append($(this).attr("name"), $(this).get(0).files[0]);
            });
            return formData;
        }
</script>